﻿@using Ulatina.Selectos.Proyecto.UI.Models

@using GridMvc.Html

@model List<ParametroMvc>

@{
    ViewBag.Title = "Parámetros";
}
<h2>@ViewBag.Title.</h2>
<div class="row">
    <div class="col-md-8"></div>
    <div class="col-md-4">
        @Html.ActionLink("Agregar", "Agregar", "Parametros", new { area = "" }, new { @class = "navbar-brand" })
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        @Html.Grid(Model).Columns(columns =>
   {
       columns.Add()
            .Encoded(false)
            .Sanitized(false)
            .SetWidth(30)
            .RenderValueAs(d =>
            @<b>
                @Html.ActionLink(
                    linkText: "Editar",
                    actionName: "Editar",
                    controllerName: "Parametros",
                    routeValues: new
                    {
                        Codigo = d.Codigo
                    },
                    htmlAttributes: null)
            </b>);
       columns.Add(p => p.Descripcion).Titled("Descripcion").SetWidth(110);
       columns.Add(p => p.Valor).Sortable(true);
   }).WithPaging(2)
    </div>

</div>

