﻿@using Ulatina.Selectos.Proyecto.UI.Models

@using GridMvc.Html

@model UsuarioMvc

@{
    ViewBag.Title = "Editar Usuario";
    List<RolesMvc> roles = ViewBag.TodosRoles;
}
<h2>@ViewBag.Title.</h2>
@using (Html.BeginForm("Guardar", "Usuarios"))
{
    <div class="row">
        <div class="col-md-8">
            <button type="submit">Guardar</button>
            @*@Html.ActionLink("Guardar", "Guardar", "Usuarios", Model, null)*@
        </div>
        <div class="col-md-4">
        </div>
    </div>
    <div class="panel panel-primary" style="margin-top:10px;">
        <div class="panel-heading">Información del Usuario</div>
        <div class="panel-body">
            @Html.HiddenFor(m => m.UserId)
            <div class="row">
                <div class="col-md-4">
                    <label>Codigo</label>
                </div>
                <div class="col-md-4">
                    <label>Nombre</label>
                </div>
                <div class="col-md-4">
                    <label>Apellido</label>
                </div>
            </div>

            <div class="row">
                <div class="col-md-4">
                    @Html.TextBoxFor(c => c.Codigo, new { @readonly = "readonly" })
                </div>
                <div class="col-md-4">
                    @Html.TextBoxFor(c => c.Nombre)
                </div>
                <div class="col-md-4">
                    @Html.TextBoxFor(c => c.Apellido)
                </div>
            </div>

            <div class="row">
                <div class="col-md-4">
                    <label>Identificación</label>
                </div>
                <div class="col-md-4">
                    <label>Correo Electrónico</label>
                </div>
                <div class="col-md-4">
                    <label>Teléfono</label>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    @Html.TextBoxFor(c => c.Identificacion)
                </div>
                <div class="col-md-4">
                    @Html.TextBoxFor(c => c.Email)
                </div>
                <div class="col-md-4">
                    @Html.TextBoxFor(c => c.Telefono)
                </div>
            </div>
            @*<div class="row">
                    <div class="col-md-4">
                        @Html.CheckBoxFor(c => c.Estado)
                        <label>Estado</label>
                    </div>
                    <div class="col-md-8">
                    </div>
                </div>*@
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <div class="panel panel-primary" style="margin-top:10px;">
                <div class="panel-heading">Perfiles del Usuario</div>
                <div class="panel-body">
                    @Html.Grid(Model.RolesUsuario).Columns(columns =>
               {
               columns.Add()
                .Encoded(false)
                .Sanitized(false)
                .SetWidth(30)
                .RenderValueAs(d =>
                @<b>
                    @Html.ActionLink(
                                linkText: "Eliminar",
                                actionName: "EliminarRole",
                                controllerName: "Usuarios",
                                routeValues: new
                                {
                                    codigoUsuario = Model.Codigo,
                                    role = d.Descripcion,
                                    userId = Model.UserId
                                },
                                htmlAttributes: null)
                </b>);
                   columns.Add(p => p.Descripcion).Titled("Descripcion").Sortable(true);
               }).WithPaging(20)
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="panel panel-primary" style="margin-top:10px;">
                <div class="panel-heading">Perfiles para Asignar</div>
                <div class="panel-body">
                    @Html.Grid(roles).Columns(columns =>
       {
           columns.Add()
            .Encoded(false)
            .Sanitized(false)
            .SetWidth(30)
            .RenderValueAs(d =>
            @<b>
                @Html.ActionLink(
                    linkText: "Agregar",
                    actionName: "AgregarRole",
                    controllerName: "Usuarios",
                    routeValues: new
                    {
                        codigoUsuario = Model.Codigo,
                        role = d.Descripcion,
                        userId = Model.UserId
                    },
                    htmlAttributes: null)
            </b>);
           columns.Add(p => p.Descripcion).Titled("Descripcion").Sortable(true);
       }).WithPaging(20)
                </div>
            </div>
        </div>
    </div>

}

