﻿@using Ulatina.Selectos.Proyecto.UI.Models

@using GridMvc.Html

@model List<UsuarioMvc>

@{
    ViewBag.Title = "Ususarios del Sistema";
}
<h2>@ViewBag.Title.</h2>
<div class="row">
    <div class="col-md-8"></div>
    <div class="col-md-4">
        @Html.ActionLink("Agregar", "Agregar", "Usuarios", new { area = "" }, new { @class = "navbar-brand" })
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        @Html.Grid(Model).Columns(columns =>
   {
       columns.Add()
            .Encoded(false)
            .Sanitized(false)
            .SetWidth(30)
            .RenderValueAs(d =>
            @<b>
                @Html.ActionLink(
                    linkText: "Editar",
                    actionName: "Editar",
                    controllerName: "Usuarios",
                    routeValues: new
                    {
                        Codigo = d.Codigo
                    },
                    htmlAttributes: null)
            </b>);
       columns.Add(p => p.Nombre).Titled("Nombre").Sortable(true);
       columns.Add(p => p.Apellido).Titled("Apellido").Sortable(true);
       columns.Add(p => p.Email).Titled("Correo").Sortable(true);
       columns.Add(p => p.Telefono).Titled("Telefono").Sortable(true);
       columns.Add(p => p.Identificacion).Titled("Identificacion").Sortable(true);
       columns.Add(p => p.EstadoText).Titled("Estado").Sortable(true);
   }).WithPaging(20)
    </div>
</div>


